---
	  import BaseLayout from '../layouts/BaseLayout.astro';

		import Greeting from '../components/Greeting.jsx';

		import Header from '../components/Header.astro';
		import Footer from '../components/Footer.astro';

		import '../styles/global.css';		

	  const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Astro 🦄</h2>
		  <Greeting
		messages={["Hi", "Hello", "Howdy", "Hey there"]} />
	  <Greeting client:load
		messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
